<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ mission.requester }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    requester: {{ mission.requester }} <br>
    status: {{ mission.status | missionStatus }} <br>
    context: {{ mission.context | json}} <br>
    priority: {{ mission.priority }} <br>
    mission_context: {{ mission.mission_context }} <br>
    variables: {{ mission.variables | json }} <br>
    plan: {{ mission.plan | json }} <br>
    state: {{ mission.state | json  }} <br>
    error: {{ mission.error }} <br>
    params: {{ mission.params | json  }} <br>
  </mat-card-content>
</mat-card>